In [168]:
import pyowm
import pandas as pd
from time import sleep
from sqlalchemy import create_engine
import datetime

22.78

In [161]:
weather_datadf_list = []

for i in range(0,5): #Minutes
    
    #Call
    owm = pyowm.OWM('4924239659ffd4f536f72b1beed83650')
    observation = owm.weather_at_place('Hermosillo,MX')
    w = observation.get_weather()
    
    #Get Vars
    local_timestamp = datetime.datetime.now()
    obs_timestamp = w.get_reference_time(timeformat='date')
    wind_speed = w.get_wind()['speed'] 
    humidity = w.get_humidity()  
    temperature = w.get_temperature('celsius')['temp']
    temperature_max = w.get_temperature('celsius')['temp_max']
    temperature_min = w.get_temperature('celsius')['temp_min']
    sunrise_time = w.get_sunset_time('iso') 
    sunset_time = w.get_sunset_time('iso') 
    
    # Store
    weather_dic = {
        "local_timestamp":[local_timestamp],
        "obs_timestamp":[obs_timestamp],
        "wind_speed":[wind_speed],
        "humidity":[humidity],
        "temperature":[temperature],
        "temperature_max":[temperature_max],
        "temperature_min":[temperature_min],
        "sunrise_time":[sunrise_time],
        "sunset_time":[sunset_time]
    }
    
    # create a list of strings
    columns = ['local_timestamp','obs_timestamp', 'wind_speed','humidity','temperature','temperature_max','temperature_min','sunrise_time','sunset_time']
    #index = ['1', '2', '3','4','5','6','7','8','9']
    
    df = pd.DataFrame(weather_dic, columns=columns)
    
    weather_datadf_list.append(df)
    print(str(local_timestamp))
    print(obs_timestamp)
    sleep(5) # Seconds

2019-04-11 11:30:13.778788
2019-04-11 18:26:31+00:00
2019-04-11 11:30:18.956275
2019-04-11 18:26:31+00:00
2019-04-11 11:30:24.284001
2019-04-11 18:26:31+00:00
2019-04-11 11:30:29.492320
2019-04-11 18:26:31+00:00
2019-04-11 11:30:34.675913
2019-04-11 18:26:31+00:00

,local_timestamp,obs_timestamp,wind_speed,humidity,temperature,temperature_max,temperature_min,sunrise_time,sunset_time
0,2019-04-11 11:30:34.675913,2019-04-11 18:26:31+00:00,4.1,6,26.22,27.22,25.0,2019-04-12 01:47:13+00,2019-04-12 01:47:13+00

In [165]:
df_weather = pd.concat(weather_datadf_list,axis=0)
df_weather.head()

,local_timestamp,obs_timestamp,wind_speed,humidity,temperature,temperature_max,temperature_min,sunrise_time,sunset_time
0,2019-04-11 11:30:13.778788,2019-04-11 18:26:31+00:00,4.1,6,26.22,27.22,25.0,2019-04-12 01:47:13+00,2019-04-12 01:47:13+00
0,2019-04-11 11:30:18.956275,2019-04-11 18:26:31+00:00,4.1,6,26.22,27.22,25.0,2019-04-12 01:47:13+00,2019-04-12 01:47:13+00
0,2019-04-11 11:30:24.284001,2019-04-11 18:26:31+00:00,4.1,6,26.22,27.22,25.0,2019-04-12 01:47:13+00,2019-04-12 01:47:13+00
0,2019-04-11 11:30:29.492320,2019-04-11 18:26:31+00:00,4.1,6,26.22,27.22,25.0,2019-04-12 01:47:13+00,2019-04-12 01:47:13+00
0,2019-04-11 11:30:34.675913,2019-04-11 18:26:31+00:00,4.1,6,26.22,27.22,25.0,2019-04-12 01:47:13+00,2019-04-12 01:47:13+00

In [142]:
# CREATE TABLE hermosillo_weather (
#  index text,
#  local_timestamp timestamp without time zone,
#  obs_timestamp timestamp without time zone,
#  wind_speed double precision,
#  humidity bigint,
#  temperature double precision,
#  temperature_max double precision,
#  temperature_min double precision,
#  sunrise_time timestamp without time zone,
#  sunset_time timestamp without time zone
# );

SyntaxError: invalid syntax (<ipython-input-142-9dbadfe15472>, line 1)

In [166]:
# Add table to psql table
engine = create_engine('postgresql://diego:password@localhost:5432/sonora_sensors')
df_weather.to_sql('hermosillo_weather', engine, if_exists='append')